<div [@fadeIn]>
  <p class="paragraph-block">
    The code block below is the source code for an IPA (International Phonetic Alphabet) symbol picker.
    It includes virtually all IPA symbols including diacritics, and has a built-in converter that turns a string of IPA
    symbols to LaTeX code. Unlike the other two Python apps, this one may actually be useful to someone.
    You can download the .exe
    <a download="ipa_picker_latex_converter.exe" href="assets/python_applications/picker.exe">here</a>
    and you can visit its repository
    <a href="https://github.com/Jeroen-Willemsen/" target="_blank">here</a>.
  </p>
  <div class="code-section">
  <pre style="margin: 0">
    <code
      [highlight]="code"
      class="code-block"
      language="python">{{ code }}</code>
  </pre>
  </div>
</div>
