<div [@fadeIn]>
  <p class="paragraph-block">
    The code block below is the source code for a simple calculator written from scratch as an exercise in programming.
    It includes all basic arithmetic functionalities and has a built-in converter.
    You can download the .exe
    <a download="simple_calculator.exe" href="assets/python_applications/calculator.exe">here</a>
    and you can visit its repository
    <a href="https://github.com/Jeroen-Willemsen/" target="_blank">here</a>.
  </p>
  <div class="code-section">
  <pre style="margin: 0">
    <code
      [highlight]="code"
      class="code-block"
      language="python">{{ code }}</code>
  </pre>
  </div>
</div>

