<div [@fadeIn] class="not-found-container">
  <h1>404</h1>
  <h2>Page Not Found :(</h2>
  <p>The page you're looking for does not exist. Try one of these: </p>
  <div class="row">
    <a class="home-button" routerLink="/about-me" routerLinkActive="active">About Me</a>&nbsp;
    <a class="home-button" routerLink="/linguistics" routerLinkActive="active">Linguistics</a>&nbsp;
    <a class="home-button" routerLink="/programming" routerLinkActive="active">Programming</a>&nbsp;
    <!--    <a routerLink="/contact-me" routerLinkActive="active" class="home-button">Contact Me</a>-->
  </div>
</div>
