<div [@fadeIn]>
  <p class="paragraph-block">
    The code block below is the source code for a simple Dutch weather app written to familiarise myself with APIs.
    It will return a summary for the current weather in any Dutch municipality.
    You can download the .exe
    <a download="simple_dutch_weather_app.exe" href="assets/python_applications/weather.exe">here</a>
    and you can visit its repository
    <a href="https://github.com/Jeroen-Willemsen/" target="_blank">here</a>.
  </p>
  <div class="code-section">
  <pre style="margin: 0">
    <code
      [highlight]="code"
      class="code-block"
      language="python">{{ code }}</code>
  </pre>
  </div>
</div>
